// Bootstrap Overrides
//
// Copied variables from `_variables.scss` to this file to override default values without modifying source files.


// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components


// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.


// Colors
//
// Grayscale and brand colors for use across Bootstrap.
$gray-dark:                 $grey-900;
$gray:                      $grey-700;
$gray-light:                $grey-500;
$gray-lighter:              $grey-300;
$gray-lightest:             $grey-100;

// $brand-primary:             $blue-700;
// $brand-primary:             $green-500;
$brand-primary:             $brown-600;
// $brand-success:             #5cb85c !default;
// $brand-info:                #5bc0de !default;
// $brand-warning:             #f0ad4e !default;
// $brand-danger:              #d9534f !default;
// $brand-inverse:             $brown-500;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-flex: true;


// Spacing
$border-width: 4px;
// Typography
//
// Font, line-height, and color for body text, headings, and more.

// $font-family-sans-serif: ;
// $font-family-serif: "Merriweather", Georgia, "Times New Roman", Times, serif;
// $font-family-monospace: ;
// $font-family-base:  $font-family-serif;
// $font-family-base:  $font-family-sans-serif;

// Links
//
// Style anchor elements.

$link-color:            $blue;
// $link-decoration:       none !default;
$link-hover-color:      lighten($link-color, 15%);
$link-hover-decoration: none;

// Components
//
// Define common padding and border radius sizes and more.

// $line-height-lg:         (4 / 3) !default;
// $line-height-sm:         1.5 !default;

$border-radius:          0;


// Cards
// $card-spacer-x:            1.25rem !default;
// $card-spacer-y:            .75rem !default;
$card-border-width:           0;
// $card-border-radius:       $border-radius !default;
// $card-border-color:        rgba(0,0,0,.125) !default;
// $card-border-radius-inner: $card-border-radius !default;
// $card-cap-bg:              #f5f5f5 !default;
// $card-bg:                     $gray-lightest;

// $card-link-hover-color:    #fff !default;

// $card-img-overlay-padding: 1.25rem !default;

// $card-deck-margin:         .625rem !default;

// $card-columns-sm-up-column-gap: 1.25rem !default;

// Navbar

// $navbar-border-radius:              $border-radius !default;
$navbar-padding-x:                  0;
$navbar-padding-y:                  0;
// $navbar-brand-padding-y:            .25rem !default;
$navbar-brand-padding-y:            5rem;

// $navbar-dark-color:                 rgba(255,255,255,.5) !default;
// $navbar-dark-hover-color:           rgba(255,255,255,.75) !default;
// $navbar-dark-active-color:          rgba(255,255,255,1) !default;
// $navbar-dark-disabled-color:        rgba(255,255,255,.25) !default;

// $navbar-light-color:                rgba(0,0,0,.3) !default;
// $navbar-light-hover-color:          rgba(0,0,0,.6) !default;
// $navbar-light-active-color:         rgba(0,0,0,.8) !default;
// $navbar-light-disabled-color:       rgba(0,0,0,.15) !default;


// Navs

// $nav-item-margin:               .2rem !default;
// $nav-item-inline-spacer:        1rem !default;
// $nav-link-padding:              .5em 1em !default;
// $nav-link-hover-bg:             $gray-lighter !default;
// $nav-disabled-link-color:       $gray-light !default;
// $nav-disabled-link-hover-color: $gray-light !default;
// $nav-disabled-link-hover-bg:    transparent !default;
// .navbar {
//   position: relative;
//   padding: $navbar-padding-y $navbar-padding-x;
  // @include clearfix;

  // @include media-breakpoint-up(sm) {
  //   @include border-radius($navbar-border-radius);
  // }
// }
