// Import local Sass
// @import "_functions";
@import "_colors";
@import "_custom";

// Import Bootstrap variables to override them
// $brand-primary: $blue-700;
// $enable-flex:   true;
// $font-family-base: "Merriweather";

// Import main Bootstrap file from node_modules
@import "../node_modules/bootstrap/scss/bootstrap.scss";

article a {

	&:hover {
		background-color: $link-color;
		color: white;
	}
}

.lead {
	font-style: italic;
	font-weight: normal;
}

.card {
	border-top: $border-width solid $brown-300;
	background: linear-gradient(-45deg, transparent 16px, $gray-lightest 0); // CSS Secrets, pg 97
	max-width: 256px;
}

.navbar {
	border-bottom: 1px solid $gray-lighter;

	&-brand {
		// border-bottom: 2px solid $brown-900;
		padding-bottom: .5rem;
		// padding-left: .5rem;
		// padding-right: .5rem;
		padding-top: 4rem;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-left: -1rem;
		// margin-right: -.25rem;
		// margin-left: 0;
		// padding-left: 0;
	}
	
	&-nav {
		padding-top: 4rem;
	}
	
	&::after {
		clear: none;
	}
}

footer {
	border-top: 1px solid $gray-lighter;

	p:last-child {
		margin-bottom: 0;
	}
}
