// Import local Sass
// @import "_functions";
@import "_colors";
@import "_custom";

// Import Bootstrap variables to override them
// $brand-primary: $blue-700;
// $enable-flex:   true;
// $font-family-base: "Merriweather";

// Import main Bootstrap file from node_modules
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// header {
// 	background-color: $brown-500;
// }
.lead {
	font-style: italic;
}
footer,
.card,
.navbar
{
	// border-bottom: $border-width $green-900;
	// border-bottom: $border-width solid $grey-300;
	// border-top: $border-width solid $green-500;
	border-top: $border-width solid $green-500;
	// background-color: $gray-lighter !important;
}
.card {
	background: linear-gradient(-45deg, transparent 16px, $gray-lightest 0); // CSS Secrets, pg 97
	// max-width: 544px; // Bootstrap's 'extra small' size
	// @include clearfix();
}
// .card {
// 	background-color: $gray-lightest;
// }
// .nav-link {
// 	font-variant: small-caps;
// }
footer {
	// background-color: $grey-300;
	// border-top: $border-width solid $gray-lighter;
	p:last-child {
		margin-bottom: 0;
	}
}

// Then write it out to static/main.css
