{{ partial "top" . }}

{{ partial "single_title" . }}

<p class="h4 italic grey-700">{{ .Params.summary }}</p>

{{/* if eq .Type "post" }}
	{{ partial "timestamp" . }}
{{ end */}}

{{/* if eq .Type "project" */}}
{{ with .Params.screenshot }}
	<img
		class="mt1"
		alt=""
		srcset="{{ $.Site.BaseURL }}images/project/{{ . }}-320.png 320w,
		        {{ $.Site.BaseURL }}images/project/{{ . }}-640.png 640w,
		        {{ $.Site.BaseURL }}images/project/{{ . }}-1280.png 1280w,"
		src="{{ $.Site.BaseURL }}images/project/{{ . }}.png">
{{ end }}

{{ .Content }}

{{ if eq .Type "post" }}
	{{ partial "timestamp" . }}
{{ end }}

{{/* with .Params.urls.source }}
	<section>
		<a href="{{ . }}">View project source.</a>
	</section>
{{ end */}}

{{ partial "prev_next" . }}

<!-- <code>Default single template!</code> -->

{{ partial "bottom" . }}
