{{ define "main" }}
<!-- <em>layouts/project/single.html</em> -->
<article class="columns">
	<header>
		<h1>{{ .Title }}</h1>
		<p class="lede">{{ .Params.summary }}</p>
		{{ with .Params.screenshot }}
			<img    alt="{{ $.Params.summary }}"
					 srcset="{{ $.Site.BaseURL }}images/project/{{ . }}-320.png 320w,
									 {{ $.Site.BaseURL }}images/project/{{ . }}-640.png 640w,
									 {{ $.Site.BaseURL }}images/project/{{ . }}-1280.png 1280w"
							src="{{ $.Site.BaseURL }}images/project/{{ . }}.png">
		{{ end }}
	</header>
<!--
	<aside>
		<h4>Details</h4>
		{{ with .Params.urls.public }}
			<a href="{{ . }}">View the site.</a>
		{{ end }}
		{{ with .Params.urls.source }}
			<br>
			<a href="{{ . }}">View the source.</a>
		{{ end }}
		<h4>Tags</h4>
		{{ range .Params.tags }}
			<a href="/tags/{{ . | urlize }}">{{ . }}</a>
		{{ end }}
	</aside>
 -->
	{{ .Content }}
</article>
{{ end }}
