{{ define "main" }}

<!-- <div class="container"> -->
	<!-- {{ partial "breadcrumbs.html" . }} -->
	{{ if .Params.urls.public }}
	<a href="{{ .Params.urls.public }}">
		{{ end }}
		{{ with .Params.screenshot }}
		<img
		class="img-fluid img-center"
		alt="{{ $.Params.summary }}"
		srcset="{{ $.Site.BaseURL }}images/project/{{ . }}-320.png 320w,
		{{ $.Site.BaseURL }}images/project/{{ . }}-640.png 640w,
		{{ $.Site.BaseURL }}images/project/{{ . }}-1280.png 1280w,"
		src="{{ $.Site.BaseURL }}images/project/{{ . }}.png">
		{{ else }}
		{{ if .Params.urls.public }}
		<p>View the site.</p>
		{{ end }}
		{{ end }}
		{{ if .Params.urls.public }}
	</a>
	{{ end }}

	{{ partial "single_title" . }}

	<p class="lead">{{ .Params.summary }}</p>

	{{ .Content }}

	{{ with .Params.urls.source }}
	<section>
		<a href="{{ . }}">View project source.</a>
	</section>
	{{ end }}
<!-- </div> -->

	<!-- {{ partial "prev_next" . }} -->

{{ end }}
