.brown {
	color: #795548;
	/* Other options: */
	/*#685642*/
	/*#663300*/
	/*#5B391E*/
	/*#643B0F*/
}

.b-r-0 {
	border-radius: 0;
}

article section:not(:last-child) {
	/* color: green; */
	margin-bottom: 3rem !important; 
}
