:root {
	--border-radius: .3em;
	--font-family-serif: Merriweather, Georgia, "Times New Roman", Times, serif;
	--font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--margin: 1.5em;
	--whitespace: .25em;

	color: #111;
	font-family: var(--font-family-serif);
/* 	line-height: 1.5; */

	/* COLORS */
	/* eee */
	/* 333 */
	/* 777 */
	/* 444 */
	/* ddd */
	/* fff */
	/* 555 */
	/* ccc */
	/* f0f0f0 */
	/* 111 */
	/* 999 */
	/* black */
	--grey-light: #ddd;
	/* grey-light */
	--grey-dark: #777; 
	--grey-darkest: #555;
	/* color eee bg 333 */
	--grey-lightest: #eee;
	--white: #fff;
}

* {
	margin: 0;
}

* + * {
	margin-top: var(--margin);
}

/* Exceptions to our adjacent sibling combinator
   otherwise known as the lobotomized owl selector */
body, br, dt, dd, li, th, td, option {
	margin-top: 0;
}

/* html { */
/* 	font-family: Georgia, "Times New Roman", Times, serif; */
/* } */

a {}

article {
	border-top: 1px solid var(--grey-dark);
	columns: 24em;
/* 	padding-top: var(--margin); */
}

aside {}

body {
	padding: var(--whitespace);
}

/* 
code, 
footer, 
.card 
{
	margin-left: calc(var(--whitespace) * -1);
	margin-right: calc(var(--whitespace) * -1);
	padding-left: var(--whitespace);
	padding-right: var(--whitespace);
}
 */

footer {
/* 	background: var(--grey-lightest); */
}

h1, h2, h3, h4, h5, h6 {}

h1 {
	column-span: all;
}

header {}
article header {
	break-after: column;
}

p { }
article p {
/* 	font-family: var(--font-family-serif); */
	text-align: justify;
	margin-top: 0;
}

/* p:first-of-type { */
/* } */

article p + p {
	text-indent: 2em;
}

time {
	color: var(--grey-dark);
	font-variant: small-caps;
	float: right;
}

.lede {
	color: var(--grey-darkest);
/* 	font-variant: small-caps; */
font-style: italic;
}

.minor-third {}