:root {
	--border-radius: .3em;
	--font-family-serif: Merriweather, Georgia, "Times New Roman", Times, serif;
	--font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--margin: 1em;

	color: #111;
	font-family: var(--font-family-serif);
/* 	line-height: 1.5; */

	/* COLORS */
	/* eee */
	/* 333 */
	/* 777 */
	/* 444 */
	/* ddd */
	/* fff */
	/* 555 */
	/* ccc */
	/* f0f0f0 */
	/* 111 */
	/* 999 */
	/* black */
	--blue: #0050D4;
	--grey-light: #ddd;
	/* grey-light */
	--grey-dark: #777; 
	--grey-darkest: #555;
	/* color eee bg 333 */
	--grey-lightest: #eee;
	--white: #fff;
}

* {
	margin: 0;
}

* + * {
	margin-top: var(--margin);
}

/* Exceptions to our adjacent sibling combinator
   otherwise known as the lobotomized owl selector */
body, br, dt, dd, li, th, td, option {
	margin-top: 0;
}

/* html { */
/* 	font-family: Georgia, "Times New Roman", Times, serif; */
/* } */

a {
	color: var(--blue);
}

a:focus, a:hover {
	background-color: var(--blue);
	color: white;
	text-decoration: none;
}

article {
	border-top: 1px solid var(--grey-dark);
	columns: 24em;
	column-gap: var(--margin);
/* 	padding-top: var(--margin); */
}

aside {}

body {
	padding: var(--margin);
}

/* 
code, 
footer, 
.card 
{
	margin-left: calc(var(--margin) * -1);
	margin-right: calc(var(--margin) * -1);
	padding-left: var(--margin);
	padding-right: var(--margin);
}
 */

footer {
/* 	background: var(--grey-lightest); */
}

h1, h2, h3, h4, h5, h6 {}

/* 
h1 {
	column-span: all;
}
 */

header > a {
	font-weight: bold;
}

article header {
/* 	break-after: column; */
	column-span: all;
	padding: var(--margin) 0;
}

p { }
article p {
/* 	font-family: var(--font-family-serif); */
	text-align: justify;
	margin-top: 0;
}

/* p:first-of-type { */
/* } */

article p + p {
	text-indent: 2em;
}

nav {
	margin-top: 0;
}

time {
	color: var(--grey-dark);
	font-variant: small-caps;
	float: right;
}

.lede {
/* 	break-after: column; */
/* 	-webkit-column-break-after: always; */
	color: var(--grey-darkest);
/* 	font-variant: small-caps; */
	font-style: italic;
}

.minor-third {}