@import url("_colors.css");

:root {
	--border-radius: .3em;
	--font-family-serif: Charter, Merriweather, Georgia, "Times New Roman", Times, serif;
	--font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--margin: 1em;

	background: var(--white);
	color: var(--near-black);
	font-family: var(--font-family-serif);
/* 	line-height: 1.5; */

	--blue: #0050D4;

/*
	$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
 */
}

/* Lobotomized Owl */

* {
	margin: 0;
}

* + * {
	margin-top: var(--margin);
}

/* Exceptions to our adjacent sibling combinator
   otherwise known as the lobotomized owl selector */
body, br, dt, dd, li, th, td, option {
	margin-top: 0;
}

/* Hyperlinks */

a {
	color: var(--blue);
}

a:focus, a:hover {
	background-color: var(--blue);
	color: white;
	text-decoration: none;
}

[rel="prev"]::before {
	content: '2190';
}

[rel="next"]::after {
	content: '2192';
}

body > header a {
	color: var(--near-white);
}

header a {
	color: #111;
}

header > a {
	font-weight: bold;
}

header a,
nav a {
	text-decoration: none;
}

nav a {
	color: var(--gray);
	font-style: italic;
}

/* General */

abbr {
	font-variant: small-caps;
}

article {
	border-bottom: 1px solid var(--gray);
	padding-bottom: var(--margin);
}

article img {
	width: 100%;
}

article p {
	margin-top: 0;
	text-align: justify;
}

article p + p {
	text-indent: 2em;
}

body {
	padding: var(--margin);
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

body > header {
	background: center/cover url(/images/dino.jpg);
	padding: 3em 1em var(--margin);
	margin: calc(var(--margin) * -1);
	text-shadow: 0 0 .25em var(--near-black);
}
/*
@media (orientation: landscape) {
	body > header {
		font-size: 2em;
		padding-top: 50vh;
	}
}
 */

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-sans-serif);
}

article header {
	margin: var(--margin) 0;
}

nav {
	margin-top: 0;
}

time {
	color: var(--gray);
	display: block;
	font-family: var(--font-family-sans-serif);
	margin-top: 1em;
}

ul {
	padding-left: calc(var(--margin) * 2);
}

ul + p {
	margin-top: var(--margin);
}

/* Utilities: Layout */

/* Use columns for descendant elements */
.columns {
	columns: 20em;
	column-gap: var(--margin);
}

.columns header {
	column-span: all;
}

/* Use flex box for descendent elements */
.flex {
	display: flex;
	flex-wrap: wrap;
	margin: calc(var(--margin) * -1);
}

.flex > * {
	flex: 1 0 24em;
	margin: 0 var(--margin);
}

.lede {
	color: var(--mid-gray);
	font-style: italic;
}

/* TYPE SCALES */

.minor-third {}

.tachyons h1 { font-size: 3rem }
.tachyons h2 { font-size: 2.25rem }
.tachyons h3 { font-size: 1.5rem }
.tachyons h4 { font-size: 1.25rem }
.tachyons h5 { font-size: 1rem }
.tachyons h6 { font-size: .875rem }
