<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>
		{{- block "title" . -}}
			{{ .Site.Title }}
		{{- end -}}
	</title>
	{{ partial "meta.html" . }}
	<link rel="canonical" href="{{ .Permalink }}">
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/bass.css">
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/style.css">
</head>


<body class="bg-grey-200">

	{{ partial "header.html" . }}
	<div class="bg-white">
		<!-- <article class="mx-auto px1 pb3" role="main"> -->
		<article class="mx-auto px1 pb4" role="main">

			{{ block "main" . }}{{ end }}

		</article>
	</div>
	{{ partial "footer" . }}
</body>
</html>
