<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	{{ block "title" . }}
		<title>{{ .Title }} &ndash; {{ .Site.Title }}</title>
	{{ end }}
	{{ partial "meta" . }}
	<link rel="canonical" href="{{ .Permalink }}">
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,500,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
	{{ partial "header" . }}
	<main>
	{{ block "main" . }}{{ end }}
	</main>
</body>

</html>
