<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>
		{{- block "title" . -}}
			{{ .Site.Title }}
		{{- end -}}
	</title>
	{{ partial "meta.html" . }}
	<link rel="canonical" href="{{ .Permalink }}">
	<!-- <link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,500,700' rel='stylesheet' type='text/css'> -->
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	{{ partial "header.html" . }}
	<!-- <article class="container m-b-3"> -->
	<article class="container">
		<!-- {{ block "breadcrumb" . }} -->
		<!-- 	{{ partial "breadcrumbs.html" . }} -->
		<!-- {{ end }} -->
		{{ block "main" . }}{{ end }}
	</article>
	{{ partial "footer" . }}
	{{ block "scripts" . }}
		<script>
			document.querySelector('#nav-{{ .Title | lower }}').className += ' active';
		</script>
	{{ end }}
</body>
</html>
