<footer class="" style="background-color: #eceeef">
	<div class="container">
	<p class="p-t-3">
		My name is Erik Ebsen. I'm a Christian, a husband, and a father of <del>three</del> <em>four</em>.
	</p>
	<p>
		I write code for <del>South Dakota State University</del> <a href="//good-sam.com">The Evangelical Lutheran Good Samaritan Society</a> and <a href="/project">a few little projects on the side</a>.
	</p>
	<p class="m-b-3">
		Find me on <a href="//github.com/{{ .Site.Params.github }}">GitHub</a> and (occasionally) <a href="//twitter.com/{{ .Site.Params.twitter }}">Twitter</a>.
	</p>
</div>
</footer>
