<footer class="pt3 px1 pb1 border-top bg-grey-200">
	<p>
		My name is Erik Ebsen. I'm a Christian, a husband, and a father of <del>three</del> (soon) four.
	</p>
	<!-- <p>
		I grew up on a farm in <a href="https://en.wikipedia.org/wiki/South_Dakota">South Dakota</a> and &mdash; while college landed me across Europe, China, and Guatemala &mdash; I live there again today.
	</p> -->
	<p>
		I work as a web developer for <a href="//sdstate.edu/cms">South Dakota State</a> and <a href="/project">a few little projects on the side</a>.
	</p>
	<p>
		Find me on <a href="//github.com/{{ .Site.Params.github }}">GitHub</a> and (intermittently) <a href="//twitter.com/{{ .Site.Params.twitter }}">Twitter</a>.
	</p>
</footer>
