<header class="navbar navbar-light bg-faded	m-b-3" style="">
	<nav class="container">
		<a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <div class="nav navbar-nav">
			<a id="nav-about" class="nav-item nav-link" href="/about">About</a>
			<a id="nav-posts" class="nav-item nav-link" href="/post">Posts</a>
			<a id="nav-projects" class="nav-item nav-link" href="/project">Projects</a>
			<a id="nav-rss" class="nav-item nav-link" href="#">RSS</a>
    </div>
  </nav>
</header>
