<!-- <header class="navbar navbar-dark brown b-r-0"> -->
<!-- <header class="navbar navbar-dark m-b-3" style="background-color: #42270f; border-radius: 0"> -->
<header class="navbar navbar-dark bg-inverse m-b-3" style="border-radius: 0">
<!-- <header class="navbar navbar-dark bg-inverse" style="border-radius: 0"> -->
	<nav class="container">
		<a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <div class="nav navbar-nav">
      <a id="nav-about" class="nav-item nav-link" href="/about">About</a>
      <a id="nav-posts" class="nav-item nav-link" href="/post">Posts</a>
      <!-- <a class="nav-item nav-link active" href="/project">Projects</a> -->
      <a id="nav-projects" class="nav-item nav-link" href="/project">Projects</a>
    </div>
  </nav>
</header>
