<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Default author and description -->
<meta name="author" content="{{ .Site.Params.author }}">
<meta name="description" content="I am a Christian, a husband, and a father. Homesteading is both a place to write and a portfolio for my work.">
<!-- Open Graph //ogp.me -->
<meta property="og:site_name" content="Homesteading">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Params.summary }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="blog">
