<!-- <div class="mt3 border-top"> -->
<div class="mt4">
	{{ with .Prev }}
		<h4 class="center">&larr;<a href="{{ .Permalink }}">{{ .Title }}</a></h4>
		<!-- <h4 class="ml2 inline left">&larr;<a href="{{ .Permalink }}">{{ .Title }}</a></h4> -->
		<!-- <h4 class="prev-content center"><a href="{{ .Permalink }}">{{ .Title }}</a></h4> -->
	{{ end }}
	{{ with .Next }}
		<h4 class="center"><a href="{{ .Permalink }}">{{ .Title }}</a>&rarr;</h4>
		<!-- <h4 class="mr2 inline right"><a href="{{ .Permalink }}">{{ .Title }}</a>&rarr;</h4> -->
		<!-- <h4 class="next-content center"><a href="{{ .Permalink }}">{{ .Title }}</a></h4> -->
	{{ end }}
</div>
