{{ define "title" }}
	<title>{{ .Site.Title }}</title>
{{ end }}

{{ define "main" }}
{{ range first 1 .Data.Pages }}
<section>
	<h2 class="m-b-3">
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</h2>
	<p class="lead">{{ .Params.summary }}</p>
	{{ .Content }}
</section>
{{ end }}
<div class="row">
	<section class="col-sm-6 m-b-3">
		<h3 class="m-b-1">Recent posts</h3>
		{{ range where .Data.Pages "Section" "post" }}
		<section class="{{ .Section }}">
			<h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
			<p class="lead">{{ .Params.summary }}</p>
		</section>	
		{{ end }}
	</section>
	<section class="col-sm-5 m-b-3">
		<h3 class="m-b-1">Recent projects</h3>
		{{ range where .Data.Pages "Section" "project" }}
		<section class="{{ .Section }}">
			<h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
			<p class="lead">{{ .Params.summary }}</p>
		</section>
		{{ end }}
	</section>
</div>
{{ end }}
